flows_raspberrypi.json
[{"id":"7aebd30.2ec282c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"992c899.f3f9a78","type":"subflow","name":"Subflow 1","info":"","in":[{"x":150,"y":340,"wires":[{"id":"67ae1a81.715034"}]}],"out":[{"x":410,"y":340,"wires":[{"id":"67ae1a81.715034","port":0}]}]},{"id":"c99ce474.dec748","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"758ab046.cbe2f","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT05 overloop (f8:82)","topic":"/ble/advertise/f8:82:02:73:f1:76/cbff","qos":"2","broker":"c99ce474.dec748","x":150,"y":200,"wires":[["cea469cb.a08f78"]]},{"id":"67ae1a81.715034","type":"function","z":"992c899.f3f9a78","name":"test","func":"function toHexString(byteArray) {\n  return Array.from(byteArray, function(byte) {\n    return ('0' + (byte & 0xFF).toString(16)).slice(-2);\n  }).join('')\n}\n\nfunction tzone2value(bits) {\n\n    // 1st bit 1/0: abnormal/normal\n    // 2nd bit 1/0: neg. sign\n    // 3-16 bits value in 0.01 perc\n    \n    var normal = (bits & 0x8000) === 0;\n    var sign = ((bits & 0x4000) === 0) ? 1.0 : -1.0;\n\n    if (!normal) bits = bits ^ 0x8000 // strip bit\n    if (sign < 0) bits = bits ^ 0x4000 // strip bit\n\n    return Math.round(sign * bits)/100.0;\n}\n\nfunction bits2temp(bits) {\n\n    return tzone2value(bits);\n\n}\n\nfunction bits2hum(bits) {\n\n    if (bits === 0) \n        return NaN;\n    else\n        return tzone2value(bits);\n\n}\n\n/////////////\n\n// strip incoming MQTT text array \n// and reconstruct bytes\nvar a = \n    msg.payload.slice(1, -1).\n    split(',').map (function (c) { \n        return parseInt(c); \n    })\n\nmsg.payload = {\n    'vendor_id': 'tzone',\n    'product_id': toHexString(a.slice(1,3)),\n    'id': toHexString(a.slice(4,8)),\n    'batt_in_perc': a[8],\n    'temp_in_c': bits2temp(a[10] << 8 | a[11]),\n    'hum_as_perc': bits2hum(a[12] << 8 | a[13])\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[[]]},{"id":"c2c541e7.144c","type":"inject","z":"7aebd30.2ec282c","name":"test BTx","topic":"","payload":"[17,58,1,7,19,22,19,57,48,4,10,84,0,0,0,0,0]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["cea469cb.a08f78"]]},{"id":"cea469cb.a08f78","type":"subflow:992c899.f3f9a78","z":"7aebd30.2ec282c","name":"TZone decode","x":480,"y":340,"wires":[["c192b373.5a9a9"]]},{"id":"e3edd45f.c70b28","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT04 geen idee (f6:9d)","topic":"/ble/advertise/f6:9d:fd:92:a0:2f/cbff","qos":"2","broker":"c99ce474.dec748","x":200,"y":480,"wires":[["cea469cb.a08f78"]]},{"id":"c192b373.5a9a9","type":"debug","z":"7aebd30.2ec282c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"4641e245.df18bc","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT05 kamer (ff:b8)","topic":"/ble/advertise/ff:b8:0a:c8:cb:ed/cbff","qos":"2","broker":"c99ce474.dec748","x":310,"y":120,"wires":[["cea469cb.a08f78"]]},{"id":"aa6883d1.7dbd9","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT04 geen idee (f2:12)","topic":"/ble/advertise/f2:12:0a:26:fc:65/cbff","qos":"2","broker":"c99ce474.dec748","x":300,"y":560,"wires":[["cea469cb.a08f78"]]},{"id":"b4078813.6ea6b8","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT04 beneden (d1:50)","topic":"/ble/advertise/d1:50:b0:78:ca:57/cbff","qos":"2","broker":"c99ce474.dec748","x":200,"y":640,"wires":[["cea469cb.a08f78"]]}]