flows_raspberrypi.json
[{"id":"7aebd30.2ec282c","type":"tab","label":"BLE","disabled":false,"info":""},{"id":"adbe5267.8d6cb","type":"tab","label":"P1/DSMR","disabled":false,"info":""},{"id":"992c899.f3f9a78","type":"subflow","name":"Subflow 1","info":"","in":[{"x":150,"y":340,"wires":[{"id":"67ae1a81.715034"}]}],"out":[{"x":410,"y":340,"wires":[{"id":"67ae1a81.715034","port":0}]}]},{"id":"c99ce474.dec748","type":"mqtt-broker","z":"","name":"Cayenne P1","broker":"mqtt.mydevices.com","port":"1883","tls":"","clientid":"06740320-9d9e-11e8-9127-e3914d9843e1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"479e2329.fb911c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"758ab046.cbe2f","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT05 overloop (f8:82)","topic":"/ble/advertise/f8:82:02:73:f1:76/cbff","qos":"2","broker":"479e2329.fb911c","x":150,"y":200,"wires":[["cea469cb.a08f78"]]},{"id":"67ae1a81.715034","type":"function","z":"992c899.f3f9a78","name":"test","func":"function toHexString(byteArray) {\n  return Array.from(byteArray, function(byte) {\n    return ('0' + (byte & 0xFF).toString(16)).slice(-2);\n  }).join('')\n}\n\nfunction tzone2value(bits) {\n\n    // 1st bit 1/0: abnormal/normal\n    // 2nd bit 1/0: neg. sign\n    // 3-16 bits value in 0.01 perc\n    \n    var normal = (bits & 0x8000) === 0;\n    var sign = ((bits & 0x4000) === 0) ? 1.0 : -1.0;\n\n    if (!normal) bits = bits ^ 0x8000 // strip bit\n    if (sign < 0) bits = bits ^ 0x4000 // strip bit\n\n    return Math.round(sign * bits)/100.0;\n}\n\nfunction bits2temp(bits) {\n\n    return tzone2value(bits);\n\n}\n\nfunction bits2hum(bits) {\n\n    if (bits === 0) \n        return NaN;\n    else\n        return tzone2value(bits);\n\n}\n\n/////////////\n\n// strip incoming MQTT text array \n// and reconstruct bytes\nvar a = \n    msg.payload.slice(1, -1).\n    split(',').map (function (c) { \n        return parseInt(c); \n    })\n\nmsg.payload = {\n    'vendor_id': 'tzone',\n    'product_id': toHexString(a.slice(1,3)),\n    'id': toHexString(a.slice(4,8)),\n    'batt_in_perc': a[8],\n    'temp_in_c': bits2temp(a[10] << 8 | a[11]),\n    'hum_as_perc': bits2hum(a[12] << 8 | a[13])\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[[]]},{"id":"c2c541e7.144c","type":"inject","z":"7aebd30.2ec282c","name":"test BTx","topic":"","payload":"[17,58,1,7,19,22,19,57,48,4,10,84,0,0,0,0,0]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["cea469cb.a08f78"]]},{"id":"cea469cb.a08f78","type":"subflow:992c899.f3f9a78","z":"7aebd30.2ec282c","name":"TZone decode","x":480,"y":340,"wires":[["c192b373.5a9a9"]]},{"id":"e3edd45f.c70b28","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT04 geen idee (f6:9d)","topic":"/ble/advertise/f6:9d:fd:92:a0:2f/cbff","qos":"2","broker":"479e2329.fb911c","x":200,"y":480,"wires":[["cea469cb.a08f78"]]},{"id":"c192b373.5a9a9","type":"debug","z":"7aebd30.2ec282c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"4641e245.df18bc","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT05 kamer (ff:b8)","topic":"/ble/advertise/ff:b8:0a:c8:cb:ed/cbff","qos":"2","broker":"479e2329.fb911c","x":310,"y":120,"wires":[["cea469cb.a08f78"]]},{"id":"aa6883d1.7dbd9","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT04 geen idee (f2:12)","topic":"/ble/advertise/f2:12:0a:26:fc:65/cbff","qos":"2","broker":"479e2329.fb911c","x":300,"y":560,"wires":[["cea469cb.a08f78"]]},{"id":"b4078813.6ea6b8","type":"mqtt in","z":"7aebd30.2ec282c","name":"BT04 beneden (d1:50)","topic":"/ble/advertise/d1:50:b0:78:ca:57/cbff","qos":"2","broker":"479e2329.fb911c","x":200,"y":640,"wires":[["cea469cb.a08f78"]]},{"id":"78275460.bd5ffc","type":"mqtt in","z":"adbe5267.8d6cb","name":"","topic":"dsmr/up","qos":"2","broker":"479e2329.fb911c","x":80,"y":240,"wires":[["c06d71fa.551c5"]]},{"id":"df3d024a.c9a21","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 1","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/1","qos":"0","retain":"","broker":"c99ce474.dec748","x":920,"y":240,"wires":[]},{"id":"15f90c32.21bb44","type":"function","z":"adbe5267.8d6cb","name":"counter used T1","func":"val = msg.payload.elec.counter.used_t1_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":520,"y":240,"wires":[["3fe0a780.dcb098","df3d024a.c9a21","42b3f4b2.c2a3ac"]]},{"id":"3fe0a780.dcb098","type":"debug","z":"adbe5267.8d6cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":120,"wires":[]},{"id":"c06d71fa.551c5","type":"json","z":"adbe5267.8d6cb","name":"","property":"payload","action":"","pretty":false,"x":170,"y":400,"wires":[["4c88330e.589a5c","965cf701.308b18","15f90c32.21bb44","81081ddf.b3794","3ad59cee.56b634","74119b36.a42fd4","22d9fa01.274a16"]]},{"id":"42b3f4b2.c2a3ac","type":"mqtt out","z":"adbe5267.8d6cb","name":"localhost klad","topic":"klad","qos":"0","retain":"","broker":"479e2329.fb911c","x":900,"y":560,"wires":[]},{"id":"81081ddf.b3794","type":"function","z":"adbe5267.8d6cb","name":"counter used T2","func":"val = msg.payload.elec.counter.used_t2_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["42b3f4b2.c2a3ac","f9b3b9c0.6ac678"]]},{"id":"f9b3b9c0.6ac678","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 2","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/2","qos":"0","retain":"","broker":"c99ce474.dec748","x":920,"y":300,"wires":[]},{"id":"3ad59cee.56b634","type":"function","z":"adbe5267.8d6cb","name":"counter delivered T1","func":"val = msg.payload.elec.counter.delivered_t1_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["5dfe7373.6cccdc","42b3f4b2.c2a3ac"]]},{"id":"5dfe7373.6cccdc","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 3","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/3","qos":"0","retain":"","broker":"c99ce474.dec748","x":920,"y":360,"wires":[]},{"id":"7b338b59.96f3d4","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 4","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/4","qos":"0","retain":"","broker":"c99ce474.dec748","x":920,"y":420,"wires":[]},{"id":"16b3531b.f94bdd","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 5","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/5","qos":"0","retain":"","broker":"c99ce474.dec748","x":920,"y":480,"wires":[]},{"id":"74119b36.a42fd4","type":"function","z":"adbe5267.8d6cb","name":"counter delivered T2","func":"val = msg.payload.elec.counter.delivered_t2_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["7b338b59.96f3d4","42b3f4b2.c2a3ac"]]},{"id":"22d9fa01.274a16","type":"function","z":"adbe5267.8d6cb","name":"counter gas","func":"val = msg.payload.gas.counter.used_in_m3\nmsg.payload = 'gas,m3=' + val\nreturn msg","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["16b3531b.f94bdd","42b3f4b2.c2a3ac"]]},{"id":"4c88330e.589a5c","type":"switch","z":"adbe5267.8d6cb","name":"elec chec delta","property":"payload.elec.delta","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":200,"y":760,"wires":[["6fb1defc.584e3","452e7f3d.3ef9a","e221d3e7.32d27","5bd2e193.a6505"]]},{"id":"965cf701.308b18","type":"switch","z":"adbe5267.8d6cb","name":"elec chec delta","property":"payload.gas.delta","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":200,"y":920,"wires":[["33886528.e9cb7a"]]},{"id":"9f8b9518.f98858","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 6","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/6","qos":"0","retain":"","broker":"c99ce474.dec748","x":660,"y":680,"wires":[]},{"id":"e687d00e.f2c8e","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 7","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/7","qos":"0","retain":"","broker":"c99ce474.dec748","x":660,"y":740,"wires":[]},{"id":"98e2ae9e.fab03","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 8","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/8","qos":"0","retain":"","broker":"c99ce474.dec748","x":660,"y":800,"wires":[]},{"id":"7412e17b.460b3","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 9","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/9","qos":"0","retain":"","broker":"c99ce474.dec748","x":660,"y":860,"wires":[]},{"id":"dd0c55ff.f91ff8","type":"mqtt out","z":"adbe5267.8d6cb","name":"cayenne p1 channel 10","topic":"v1/6351ea00-bf49-11e7-993a-9b80361bb997/things/06740320-9d9e-11e8-9127-e3914d9843e1/data/10","qos":"0","retain":"","broker":"c99ce474.dec748","x":670,"y":920,"wires":[]},{"id":"6fb1defc.584e3","type":"function","z":"adbe5267.8d6cb","name":"delta used T1","func":"val = msg.payload.elec.delta.used_t1_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":420,"y":680,"wires":[["9f8b9518.f98858"]]},{"id":"452e7f3d.3ef9a","type":"function","z":"adbe5267.8d6cb","name":"delta used T2","func":"val = msg.payload.elec.delta.used_t2_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":420,"y":740,"wires":[["e687d00e.f2c8e"]]},{"id":"e221d3e7.32d27","type":"function","z":"adbe5267.8d6cb","name":"delta delivered T1","func":"val = msg.payload.elec.delta.delivered_t1_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":430,"y":800,"wires":[["98e2ae9e.fab03"]]},{"id":"5bd2e193.a6505","type":"function","z":"adbe5267.8d6cb","name":"delta delivered T2","func":"val = msg.payload.elec.delta.delivered_t2_in_kwh\nmsg.payload = 'energy,kwh=' + val\nreturn msg","outputs":1,"noerr":0,"x":430,"y":860,"wires":[["7412e17b.460b3"]]},{"id":"33886528.e9cb7a","type":"function","z":"adbe5267.8d6cb","name":"delta gas","func":"val = msg.payload.gas.delta.used_in_m3\nmsg.payload = 'gas,m3=' + val\nreturn msg","outputs":1,"noerr":0,"x":400,"y":920,"wires":[["dd0c55ff.f91ff8"]]}]